# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.bak

# Configurações do VS Code
.vscode/

# Configurações do sistema
.DS_Store
Thumbs.db

# Configurações de ambiente virtual
venv/
.env

# Arquivos de build e dependências
node_modules/
dist/
build/

# Configurações específicas do sistema operacional
*.DS_Store
*.Thumbs.db

# Outros
script.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*